@page
@model MyFirstRazorWebPage.Pages.ModuleManagement.DetailsModel

@{
    ViewData["Title"] = "Admin Page - Module Detail";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <h1 style="text-align:center">Admin Page : Module Detail</h1>
    <hr />

    <div>
        <h4>Services</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Services.ServiceCode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Services.ServiceCode)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Services.ServiceName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Services.ServiceName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Services.ServiceDuration)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Services.ServiceDuration)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Services.ServicePrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Services.ServicePrice)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Services.ID">Edit</a> |
        <a asp-page="./Index">Back to Module List</a>|
        <a asp-page="/AdminPage/AdminLogout">Logout</a>
    </div>
</body>
</html>
