@page
@model MyFirstRazorWebPage.Pages.AdminPage.IndexModel

@{
    ViewData["Title"] = "User Page";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Page - Index</title>
</head>
<body>
    <p>
        <h1 style="text-align: center;">Admin Page -Welcome @Model.UserName</h1>
    </p>
    <table class="table col-auto">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AdminUser[0].StaffNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdminUser[0].FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdminUser[0].AdminUserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdminUser[0].AdminPassword)
                </th>
                <th>
                   Action
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AdminUser)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StaffNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdminUserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdminPassword)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <div>
        <a asp-page="/AdminPage/UserDetails">Manage User</a> |
        <a asp-page="/AdminPage/Create">Create Admin User</a> |
        <a asp-page="/ModuleManagement/Index">Manage Modules</a> |
        <a asp-page="/AdminPage/ManageWelcomePage">Manage Welcome Page</a> |
        <a asp-page="/AdminPage/AdminLogout">Logout</a>

    </div>
</body>
</html>
