@page
@model MyFirstRazorWebPage.Pages.AdminPage.ManageWelcomePageModel
@{
    ViewData["Title"] = "Admin Page - Manage Welcom Page";
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Welcom Page</title>
</head>
<body>
    <h1 style="text-align:center">Admin Page : Manage Welcome Page</h1>
    <hr>

    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="@Model.CurMsg" class="control-label">Welcome Message</label>
                    <textarea type="text" asp-for="@Model.CurMsg" class="form-control" style="height: 250px; width: 600px">@Model.CurMsg</textarea><br>
                    <span asp-validation-for="@Model.CurMsg" class="text-danger"></span>

                    <label asp-for="@Model.dateUpdate" class="control-label"></label>
                    <input type="text" asp-for="@Model.dateUpdate" value="@DateTime.Now" class="form-control" disabled /><br>
                    <span asp-validation-for="@Model.dateUpdate" class="text-danger"></span>

                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-page="/AdminPage/Index">Back to Admin Page</a> |
        <a asp-page="/AdminPage/Index2" asp-page-handler="OnGetLogout">Logout</a>
    </div>
</body>
</html>