@page
@model MyFirstRazorWebPage.Pages.Customers.DetailsModel
@{
    ViewData["Title"] = "Customer Details Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>Customer</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
               @Html.DisplayNameFor(model => model.Customer.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.FirstName)
            </dd>
            <dt class="col-sm-2">
                <!--@Html.DisplayNameFor(model => model.Customer.EmailAdd)-->Email Address
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.EmailAdd)
            </dd>
            <dt class="col-sm-2">
                <!--@Html.DisplayNameFor(model => model.Customer.Password)-->Password
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.Password)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Customer.ID">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
</body>
</html>
