@page
@model MyFirstRazorWebPage.Pages.Customers.UploadPictureModel
@{
    ViewData["Title"] = "Upload Hair Product Picture";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Upload Hair Product Picture</title>
</head>


<body>
    <p>
        <h1 style="text-align: center;">Staff Page - Upload Recommended Hair Product Picture</h1>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Users[0].FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users[0].EmailAdd)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailAdd)
                    </td>
                    <td>
                        <a asp-page="/BrowsePicture/Index" asp-route-id="@item.EmailAdd">Upload Picture of Recommended Hair Product</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>
