@page
@model MyFirstRazorWebPage.Pages.ModuleManagement.DeleteModel

@{
    ViewData["Title"] = "Staff Page - Remove Service";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h1 style="text-align:center">Staff Page - Remove Service</h1>
    <hr />


    <h3>Are you sure you want to remove this service?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Services.ServiceCode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Services.ServiceCode)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Services.ServiceName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Services.ServiceName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Services.ServiceDuration)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Services.ServiceDuration)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Services.ServicePrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Services.ServicePrice)
            </dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="Services.ID" />
            <input type="submit" value="Remove Service" class="btn btn-danger" /> |
            <a asp-page="./Index">Back to Services List</a>
        </form>
    </div>
</body>
</html>
