@page
@model MyFirstRazorWebPage.Pages.StaffPage.DeleteModel

@{
    ViewData["Title"] = "Staff Page - Current Staff Removal";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Remove Staff</title>
</head>
<body>

    <h3>Are you sure you want to remove this staff?</h3>
    <div>
        <h4>StaffUser</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StaffUser.StaffNo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StaffUser.StaffNo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StaffUser.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StaffUser.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StaffUser.StaffUserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StaffUser.StaffUserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StaffUser.StaffPassword)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StaffUser.StaffPassword)
            </dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="StaffUser.ID" />
            <input type="submit" value="Remove Staff" class="btn btn-danger" /> |
            <a asp-page="./Index">Back to Staff List</a>
        </form>
    </div>
</body>
</html>
