@page
@model MyFirstRazorWebPage.Pages.StaffPage.UserProfileModel
@{
    ViewData["Title"] = "Staff Page - User Profile";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h1 style="text-align:center">Staff Page : User Profile</h1>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.FirstName)
            </dd>
            <dt class="col-sm-2">
                <!--@Html.DisplayNameFor(model => model.User.EmailAdd)-->Email Address
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.EmailAdd)
            </dd>
            <dt class="col-sm-2">
                <!--@Html.DisplayNameFor(model => model.User.Password)-->Password
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.Password)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="./EditUser" asp-route-id="@Model.User.ID">Edit Customer Details</a> |
        <a asp-page="./UserDetails">Back to List</a> |
        <a asp-page="/StaffPage/Index2" asp-page-handler="OnGetLogout">Logout</a>
    </div>
</body>
</html>
